DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=*

# DB (MySQL default)
DB_ENGINE=django.db.backends.mysql
DB_NAME=hrm
DB_USER=hrm
DB_PASSWORD=password
DB_HOST=127.0.0.1
DB_PORT=3306

# Optional for docker-compose MySQL
MYSQL_ROOT_PASSWORD=rootpassword

